.stats__info{
  text-align: center;
  display: block;
  background-color: var(--text-color-lighten);
  width: 100%;
  padding: 0.8rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  border-radius: .75rem;
}

.profile__rating-data {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
}

.profile__rating-label {
  color: gray;
}  