.grid {
    display: grid;
    gap: 1.5rem;
}

.profile{
    position: relative;
    padding-top: 2rem;
}

.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.profile__container{
    row-gap: 1rem;
}

.stats__content{
  display: flex;
  justify-content: space-between;
  column-gap: .5rem;
}

.profile__stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.profile__button{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  align-items: center;
  column-gap: .5rem;
  background-color: var(--first-color);
  color: #fff;
  padding: 1.15rem 1.5rem;
  border-radius: .5rem;
  transition: .3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
  text-align: center;
}

.profile__button:hover {
  background-color: var(--first-color-alt);
}
