.content {
    flex-grow: 1;
    /* Другие стили для основного контента */
}
.nav-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #e5eaf0;
    padding-bottom: 10px;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    column-gap: 0.5rem;
    width: 100%;
    background-color: var(--text-color-lighten);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.nav-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 12px;
    color: #555;
    transition: background-color 0.3s;
    width: 100%;
    justify-content: center;
}
.nav-item.selected {
    background-color: var(--first-color);
    color: #fff;
}
.nav-item:hover {
    background-color: var(--body-color);
}

.nav__item-text {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}

.icon {
    width: 20px;
    height: 20px;
}