/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

button {
  all: unset;
  display: inline-block;
}


:root {
  --hue: 207;
  --sat: 90%;
  --lig: 61%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));

  /* Unused */
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*================= Шрифт =================*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
  --body-font: 'Geologica', sans-serif;

  /* Unused  */
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}



.App {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; /* Для анимации темной темы */
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

/* Dark Theme */
.App.dark{
  --title-color: hsl(var(--hue), 12%, 95%);
  --text-color: hsl(var(--hue), 12%, 75%);
  --body-color: hsl(var(--hue), 40%, 8%);
  --container-color: hsl(var(--hue), 24%, 12%);
}

/*========== 
    Некоторые элементы, которые не
    переключаются автоматически на темную тему
==========*/
.dark .stats__info{
  background-color: var(--container-color);
}

.dark .nav{
  background-color: var(--container-color);
}


h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
}



img {
  max-width: 100%;
  height: auto;
}
